<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatttty</title>
    {% load static %}
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" type="text/css"/>
    <script type="module" src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'js/chat.js' %}"></script>
</head>
<body>
    <div class="chat-wrapper">
        <div id="session-list">
            <div id="session-header">
                <button class="new-session">New session</button>
                <h3>Select Session</h3>
            </div>
            <div id="sessions-name" onload="loadSessions()"></div>
        </div>
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type a message...">
                <button class="send-message">Send</button>
            </div>
        </div>
    </div>
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
</body>
</html>
